* {
  margin: 0 auto;
  box-sizing: border-box;
}

.wrapper {
  padding: 2%;
  display: flex;
  width: 100%;
}

input {
  width: 100%;
  margin-top: 2%;
}

select {
  margin-top: 2%;
}

fieldset {
  text-align: left;
  margin-bottom: 2%;
}

.gallery {
  display: flex;
  justify-content: space-around;
}

.form {
  text-align: center;
}

.button {
  margin-top: 3%;
}
